body {
  /* background-image: url("calcbg.png"); */
  background-repeat: repeat;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#calculator {
  font-family: arial, sans-serif;
  background-color: rgb(24, 24, 24);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}
#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: rgb(43, 42, 42);
  color: white;
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 2%, 18%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: hsl(0, 2%, 28%);
}
button:active {
  background-color: hsl(0, 2%, 38%);
}
.operator {
  background-color: hsl(22, 88%, 49%);
}
.operator:hover {
  background-color: hsl(22, 88%, 59%);
}
.operator:active {
  background-color: hsl(22, 88%, 69%);
}
